* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

nav {
    background: beige;
    position: fixed;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}

nav > h3 {
    margin: 0;
}

.blog-list {
    padding: 30px 10px 10px;
}
